<div class='component-wrapper'>
  <div class="actions-movies-table">
    <mat-form-field appearance="standard" class="input-filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
    </mat-form-field>

    <button mat-raised-button (click)="addMovie()" class="add-button">
      Add movie
    </button>
  </div>

  <table mat-table [dataSource]="moviesList" class="mat-elevation-z8 movies-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Starring Column -->
      <ng-container matColumnDef="starring">
          <th mat-header-cell *matHeaderCellDef> Starring </th>
          <td mat-cell *matCellDef="let element"> {{element.starring}} </td>
        </ng-container>
    
      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>
    
      <!-- Rating Column -->
      <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef> Rating </th>
          <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row 
        (click)="openRatingDialog(row)"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>  
</div>