.component-wrapper
    width: 90%
    margin: 30px auto
    
.movies-table
    width: 90%

.mat-column-name,
.mat-column-starring
    width: 40%
    text-align: left

.mat-column-year,
.mat-column-rating
    width: 10%
    text-align: center

.actions-movies-table
    .input-filter
        width: 60%
    .add-button
        margin-left: 15px