<div class='component-wrapper'>
    <form [formGroup]="movieForm" (ngSubmit)="saveNewMovie()">
        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Movie name" formControlName="movieName">
        </mat-form-field>
        
        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Year (4 digits only)</mat-label>
            <input matInput placeholder="Movie year" formControlName="movieYear">
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="fill">
            <mat-label>Starring</mat-label>
            <mat-select formControlName="movieStarring">
                <mat-option *ngFor="let i of starrings" [value]="i">
                {{i}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="new-buttons">
            <button mat-raised-button type="submit">
                Save it!
            </button>
            <button mat-raised-button type="button" (click)="goBack()">
                Go back to list!
            </button>
        </div>
    </form>
</div>